@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(12, 12, 12);
}

.hover\:buttons:hover {
  --tw-bg-opacity: 0.5;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity)) !important;
}

@media (prefers-color-scheme: dark) {
  .dark-nav-border-color {
      --tw-border-opacity: 0.5;
      border-color: rgb(156 163 175 / var(--tw-border-opacity));
  }

  .hover\:buttons:hover {
    --tw-bg-opacity: 0.5;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity)) !important;
  }

}

.hover\:today:hover {
  /* --tw-bg-opacity: 0.5; */
  background-color: rgb(42, 138, 91) !important;
}

.ring-offset-color {
  --tw-bg-opacity: 0.5;
  --tw-ring-offset-color: rgb(107 114 128 / var(--tw-bg-opacity));
}


option { 
  /* Whatever color  you want */
  background-color: #82caff;
  border-radius: 5px;
}

.bg-card {
  /* color: rgb(var(--foreground-rgb)); */
  background: rgb(12, 12, 12);
}

.button-color {
  --tw-border-opacity: 0.3;
  background-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.button-color:hover {
  --tw-border-opacity: 0.1;
  background-color: rgb(156 163 175 / var(--tw-border-opacity)); 
}

::-webkit-scrollbar {
    width: 0;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: "none";
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: 'none';
    /* border-radius: 4px; */
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: 'none';
}
